n8n_template.json
{
  "name": "VA'ARCO-ÍRIS - Tally to YouTube (FINAL)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tally-vaarcoiris",
        "options": {}
      },
      "name": "Webhook Tally",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "url": "={{ $('Webhook Tally').item.json.body.data.fields.find(f => f.label === 'Envie seu vídeo').value[0].url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "name": "Baixar Vídeo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [420, 300]
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Webhook Tally').item.json.body.data.fields.find(f => f.label === 'Título').value }}",
        "description": "={{ $('Webhook Tally').item.json.body.data.fields.find(f => f.label === 'Nome').value }}",
        "categoryId": "22",
        "status": "unlisted",
        "inputDataFieldName": "data"
      },
      "name": "YouTube",
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [640, 300]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "create",
        "tableId": "videos",
        "dataMode": "define",
        "values": {
          "values": [
            {
              "column": "title",
              "value": "={{ $('Webhook Tally').item.json.body.data.fields.find(f => f.label === 'Título').value }}"
            },
            {
              "column": "author_name",
              "value": "={{ $('Webhook Tally').item.json.body.data.fields.find(f => f.label === 'Nome').value }}"
            },
            {
              "column": "youtube_url",
              "value": "=https://youtu.be/{{ $json.uploadId }}"
            }
          ]
        }
      },
      "name": "Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [860, 300]
    }
  ],
  "connections": {
    "Webhook Tally": {
      "main": [[{"node": "Baixar Vídeo", "type": "main", "index": 0}]]
    },
    "Baixar Vídeo": {
      "main": [[{"node": "YouTube", "type": "main", "index": 0}]]
    },
    "YouTube": {
      "main": [[{"node": "Supabase", "type": "main", "index": 0}]]
    }
  }
}
