n8n_template.json
{
  "name": "VA'ARCO-ÍRIS - Site Upload to YouTube (FINAL)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tally-vaarcoiris",
        "options": {}
      },
      "name": "Webhook Site",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [150, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.body.video_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "name": "Baixar Vídeo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [370, 300]
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Webhook Site').item.json.body.title }}",
        "description": "={{ $('Webhook Site').item.json.body.author_name }}",
        "categoryId": "22",
        "status": "unlisted",
        "inputDataFieldName": "data"
      },
      "name": "YouTube",
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [590, 300]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "create",
        "tableId": "videos",
        "dataMode": "define",
        "values": {
          "values": [
            {
              "column": "title",
              "value": "={{ $('Webhook Site').item.json.body.title }}"
            },
            {
              "column": "author_name",
              "value": "={{ $('Webhook Site').item.json.body.author_name }}"
            },
            {
              "column": "youtube_url",
              "value": "=https://youtu.be/{{ $json.uploadId }}"
            }
          ]
        }
      },
      "name": "Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [810, 300]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://tcpoplobrdatwupildhq.supabase.co/storage/v1/object/temp-videos/{{ $('Webhook Site').item.json.body.video_url.split('/').pop() }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headers": {
          "parameters": [
            {
              "name": "apikey",
              "value": "YOUR_SUPABASE_SERVICE_ROLE_KEY"
            },
            {
              "name": "Authorization",
              "value": "=Bearer YOUR_SUPABASE_SERVICE_ROLE_KEY"
            }
          ]
        },
        "options": {}
      },
      "name": "Deletar Temporário",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1030, 300]
    }
  ],
  "connections": {
    "Webhook Site": {
      "main": [[{"node": "Baixar Vídeo", "type": "main", "index": 0}]]
    },
    "Baixar Vídeo": {
      "main": [[{"node": "YouTube", "type": "main", "index": 0}]]
    },
    "YouTube": {
      "main": [[{"node": "Supabase", "type": "main", "index": 0}]]
    },
    "Supabase": {
      "main": [[{"node": "Deletar Temporário", "type": "main", "index": 0}]]
    }
  }
}
